@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Mori";
  src: url(/fonts/PPMori-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "PP Mori";
  src: url(/fonts/PPMori-SemiBold.woff2) format("woff2");
  font-weight: 500;
}
